.works-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.works-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.works-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.works-heading {
  text-decoration: none;
}
.works-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.works-link {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.works-link01 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.works-link02 {
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.works-link03 {
  text-decoration: none;
}
.works-burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.works-icon {
  width: 36px;
  height: 36px;
}
.works-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.works-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.works-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.works-icon02 {
  width: 24px;
  height: 24px;
}
.works-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.works-link04 {
  margin-bottom: var(--dl-space-space-unit);
}
.works-link05 {
  margin-bottom: var(--dl-space-space-unit);
}
.works-link06 {
  margin-bottom: var(--dl-space-space-unit);
}
.works-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.works-clients {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.works-heading-container {
  width: 45%;
  height: 161px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.works-text {
  margin-bottom: var(--dl-space-space-fourunits);
}
.works-text1 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.works-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.works-link08 {
  display: contents;
}
.works-logo {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link09 {
  display: contents;
}
.works-logo01 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link10 {
  display: contents;
}
.works-logo02 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link11 {
  display: contents;
}
.works-logo03 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link12 {
  display: contents;
}
.works-logo04 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.works-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.works-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.works-logo-container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.works-link13 {
  display: contents;
}
.works-logo05 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link14 {
  display: contents;
}
.works-logo06 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link15 {
  display: contents;
}
.works-logo07 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link16 {
  display: contents;
}
.works-logo08 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link17 {
  display: contents;
}
.works-logo09 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-content-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.works-faqs {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.works-text3 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.works-logo-container2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.works-link18 {
  display: contents;
}
.works-logo10 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link19 {
  display: contents;
}
.works-logo11 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link20 {
  display: contents;
}
.works-logo12 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link21 {
  display: contents;
}
.works-logo13 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link22 {
  display: contents;
}
.works-logo14 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-max-content-width-container1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.works-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.works-logo-container3 {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.works-link23 {
  display: contents;
}
.works-logo15 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link24 {
  display: contents;
}
.works-logo16 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-link25 {
  display: contents;
}
.works-logo17 {
  width: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.works-content-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.works-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #464444;
}
.works-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.works-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.works-social-links {
  width: 109px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.works-link26 {
  display: contents;
}
.works-image {
  flex: 1;
  width: 40px;
  min-width: auto;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.works-link27 {
  display: contents;
}
.works-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.works-link28 {
  display: contents;
}
.works-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.works-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.works-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .works-heading {
    text-align: center;
  }
  .works-heading1 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .works-navbar {
    position: relative;
  }
  .works-links-container {
    display: none;
  }
  .works-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-black);
  }
  .works-icon {
    fill: var(--dl-color-gray-white);
  }
  .works-heading-container {
    width: 100%;
  }
  .works-heading-container1 {
    width: 100%;
  }
  .works-text2 {
    text-align: center;
  }
  .works-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .works-heading-container2 {
    width: 100%;
  }
  .works-text4 {
    text-align: center;
  }
  .works-content-container1 {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .works-burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
  }
  .works-text {
    text-align: center;
  }
  .works-text1 {
    text-align: center;
  }
}
